<div class="header pt-5">
    <h2>Register</h2>
</div>

<p class="lead">Lorem ipsum dolor sit amet consectetue prop dominus</p>

<div class="row">

    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">User data</h4>

        <div class="alert alert-info" role="alert" ng-if="$CadastroCtrl.feedback === 'success'">
            Register done!
            <button type="button" class="close" aria-label="Close" ng-click='$CadastroCtrl.feedback=""'><span aria-hidden="true">&times;</span></button>
        </div>

        <form class="needs-validation" ng-submit="$CadastroCtrl.save()" novalidate>
            <div class="row">
                <!-- nome -->
                <div class="col-md-12 mb-3">
                    <label for="firstName">Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" ng-model="$CadastroCtrl.user.name" required>
                    <div class="invalid-feedback">This is a required field.</div>
                </div>
            </div>

            <div class="row">
                <!-- cpf -->
                <div class="col-md-6 mb-3">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder=""  ng-model="$CadastroCtrl.user.cpf" required>
                    <div class="invalid-feedback">This is a required field.</div>
                </div>

                <!-- telefone -->
                <div class="col-md-6 mb-3">
                    <label for="telefone">Phone</label>
                    <input type="text" class="form-control" id="telefone" placeholder=""  ng-model="$CadastroCtrl.user.phone" required>
                    <div class="invalid-feedback">This is a required field.</div>
                </div>
            </div>

            <!-- email -->
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="johndoe@example.com" ng-model="$CadastroCtrl.user.email" required>
                <div class="invalid-feedback">Use a valid email</div>
            </div>

            <button class="btn btn-primary btn-lg btn-block mt-4 mb-4" type="submit">Send</button>

        </form>
    </div>
</div>
