<div id="main">

    <div class="header">
        <h1>Lista</h1>
        <h2>A subtitle for your page goes here</h2>
    </div>

    <div class="content">
        
        <table class="pure-table pure-table-bordered list">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                <tr ng-for="cad in lista">
                    <td>{{ cad.name }}</td>
                    <td>{{ cad.cpf }}</td>
                    <td>{{ cad.phone }}</td>
                    <td>{{ cad.email }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>